
DB_HOST=localhost
DB_PORT=your_db_port
DB_NAME=your_db_name
DB_USER=your_db_user
DB_PASSWORD=your_db_password

KAFKA_BOOTSTRAP_SERVERS=localhost:9092


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=moazhaggag0100@gmail.com
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=your_from_email
FROM_NAME=Event Management System



OPENAI_API_KEY=your_openai_api_key

WEAVIATE_URL=http://localhost:8085


OPENAI_APIKEY=your_openai_api_key
