
DB_HOST=localhost
DB_PORT=5432
DB_NAME=event_management
DB_USER=eventuser
DB_PASSWORD=eventpass123

KAFKA_BOOTSTRAP_SERVERS=localhost:9092


SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=moazhaggag0100@gmail.com
SMTP_PASSWORD=your_smtp_password
FROM_EMAIL=your_from_email
FROM_NAME=Event Management System



OPENAI_API_KEY=your_openai_api_key

WEAVIATE_URL=http://localhost:8085


OPENAI_APIKEY=your_openai_api_key
